{
	"extends": ["eslint:recommended", "next", "next/core-web-vitals"],
	"rules": {
		"react/display-name": "off",
		"no-mixed-spaces-and-tabs": 0
	},
	"env": { "browser": true, "node": true, "es6": true }
}
